/* @reference "../../../../globals.css"; */


.bn-container[data-color-scheme=dark] {
  --bn-colors-editor-background: oklch(0.148 0.004 228.8);
  --bn-colors-editor-text: oklch(0.987 0.002 197.1);
  --bn-colors-menu-text: oklch(0.987 0.002 197.1);
  --bn-colors-menu-background: oklch(0.148 0.004 228.8);
  --bn-colors-tooltip-text: oklch(0.987 0.002 197.1);
  --bn-colors-tooltip-background: oklch(0.148 0.004 228.8);
  --bn-colors-hovered-text: oklch(0.987 0.002 197.1);
  --bn-colors-hovered-background: oklch(0.148 0.004 228.8);
  --bn-colors-selected-text: oklch(0.987 0.002 197.1);
}

/* .bn-container {
  @apply text-base transition-colors outline-none placeholder:text-muted-foreground focus-visible:border-ring focus-visible:ring-[3px] focus-visible:ring-ring/50 disabled:cursor-not-allowed disabled:opacity-50 aria-invalid:border-destructive aria-invalid:ring-[3px] aria-invalid:ring-destructive/20 md:text-sm dark:aria-invalid:border-destructive/50 dark:aria-invalid:ring-destructive/40;
} */

.bn-editor {
  padding-inline: 54px 27px;
}